@model ProductCreateViewModel

@{
    Layout = "_Dashboard";
}

<h2>Create Product</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DiscountIds">Discount</label>
        <select asp-for="DiscountIds" asp-items="Model.Discounts" class="form-control" multiple="multiple">
            <option value="">Select a discount</option>
        </select>
        <span asp-validation-for="DiscountIds" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control">
            <option value="">Select a category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BrandId">Category</label>
        <select asp-for="BrandId" asp-items="Model.Brands" class="form-control">
            <option value="">Select a category</option>
        </select>
        <span asp-validation-for="BrandId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsActive"></label>
        <input asp-for="IsActive" class="form-control" />
        <span asp-validation-for="IsActive" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Images</label>
        <input type="file" name="ImageFiles" multiple class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}